@font-face {
  font-family: 'CustomFont';
  src: url('./fonts/Cavendish-8MKjg.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-bg: #FFDFD6;
  --color-primary: #E3A5C7;
  --color-secondary: #B692C2;
  --color-text: #694F8E;
  --color-light-text: rgba(255, 255, 255, 0.87);

  font-family: 'CustomFont', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
